@model List<Movie_website.Models.Movie>
@{
    var genreName = ViewBag.GenreName as string ?? "Genre";
    var genreId = ViewBag.GenreId as int? ?? 0;
    var total = ViewBag.TotalResults as int? ?? 0;
    var currentPage = ViewBag.Page as int? ?? 1;
    int pageSize = 20; // 20 films per page on genre pages
    int totalPages = (int)Math.Ceiling((double)total / pageSize);
}

<div class="container mt-5">
    <h1 class="text-white">@genreName (@total in total)</h1>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4 mt-3">
        @foreach (var movie in Model)
        {
            <div class="col">
                <a href="/Movies/Details/@movie.Id" style="text-decoration: none;">
                    <img src="@movie.PosterUrl" class="img-fluid rounded bg-black" style="height: 300px; object-fit: contain;" />
                    <p class="mt-2 text-white text-center" style="font-size: 0.9rem;">@movie.Title</p>
                </a>
            </div>
        }
    </div>

    @if (totalPages > 1)
    {
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Movies/Genre?id=@genreId&name=@genreName&page=@(currentPage - 1)">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= totalPages && i <= 10; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="/Movies/Genre?id=@genreId&name=@genreName&page=@i">@i</a>
                    </li>
                }

                @if (currentPage < totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Movies/Genre?id=@genreId&name=@genreName&page=@(currentPage + 1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>